
UIAutomation_1.0/.vs/UIAutomation_1.0/DesignTimeBuild/.dtbcache.v2
UIAutomation_1.0/.vs/UIAutomation_1.0/v16/.suo
UIAutomation_1.0/.vs/UIAutomation_1.0/v16/TestStore/0/001.testlog
UIAutomation_1.0/UIAutomation_1.0/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
*.testlog
*.tmp
*.dll
*.pdb
*.cache
*.dll
*.pdb
